body{
  width:90%;
  margin: 0 auto;
}

.container{

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.recipe-box{
  width: 20%;
  border:2px solid grey;
  margin: 20px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

input {
  padding: 20px;
  width: 65%;
}
.input-section{
  width:100%;
  margin: 0 auto;
}

button{
  width: 15%;
  padding :20px;

}
img{
  width: 100%;
  height: 100%;
}
