body{
  width:90%;
  margin: 0 auto;
}

.container{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.container div{
  width: 20%;
  border:2px solid grey;
  margin: 20px;
  height: 250px;

}
.recipe-box{
  width: 20%;
  border:2px solid grey;
  margin: 20px;
  height: 250px;

}
input {
  padding: 20px;
  margin-bottom: 30px;
  width: 25%;
}
.input-section{
  width:90%;
  margin: 0 auto;
}

button{
  width: 15%;
  padding :20px;

}
